.DS_Store
node_modules
vendor
coverage
.cache
.temp
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.audit
.phpdocs
.phpunit.result.*
tests/_output
documentation/docs/.vuepress/dist/**
documentation/docs/.vuepress/.temp
documentation/docs/.vuepress/.cache
documentation/node_modules
.wp-env.override.json

# VSCode
.vscode/*
!.vscode/extensions.json

# e2e testing artifacts
artifacts/
test-results/

# Build files
dist/
build/
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/content/
public/
tsconfig.tsbuildinfo

# nx files
.nx/cache
.nx/workspace-data
