<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"bcgov-body-content","style":{"spacing":{"padding":{"top":"0","bottom":"2rem","right":"var:preset|spacing|40","left":"1rem"}}},"layout":{"type":"constrained"}} -->
<main
    class="wp-block-group alignfull bcgov-body-content"
    style="padding-top: 0; padding-right: var(--wp--preset--spacing--40); padding-bottom: 2rem; padding-left: 1rem"
    ><!-- wp:query-title {"type":"archive","style":{"spacing":{"padding":{"top":"1.5rem","bottom":"1.5rem"}}}} /-->

    <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":"100","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"","inherit":true}} -->
    <div class="wp-block-query"
        ><!-- wp:query-no-results -->
        <!-- wp:template-part {"slug":"query-loop-no-results","area":"uncategorized"} /-->
        <!-- /wp:query-no-results -->

        <!-- wp:post-template {"layout":{"type":"default"}} -->
        <!-- wp:group {"style":{"border":{"top":{"color":"var:preset|color|border-default","width":"1px"},"right":[],"bottom":[],"left":[]},"spacing":{"padding":{"bottom":"2.25rem"},"blockGap":"var:preset|spacing|50"}},"layout":{"inherit":true,"type":"constrained"}} -->
        <div
            class="wp-block-group"
            style="border-top-color: var(--wp--preset--color--border-default); border-top-width: 1px; padding-bottom: 2.25rem"
            ><!-- wp:post-title {"isLink":true,"className":"is-style-underline-title","style":{"spacing":{"padding":{"top":"1.75rem","bottom":"0rem"}}}} /-->

            <!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->

            <!-- wp:post-terms {"term":"category"} /-->

            <!-- wp:post-excerpt {"moreText":"Read More"} /--></div
        >
        <!-- /wp:group -->
        <!-- /wp:post-template -->

        <!-- wp:group {"style":{"border":{"top":{"color":"var:preset|color|border-default","width":"1px"}},"spacing":{"padding":{"top":"0.5rem"}}},"layout":{"inherit":true,"type":"constrained"}} -->
        <div
            class="wp-block-group"
            style="border-top-color: var(--wp--preset--color--border-default); border-top-width: 1px; padding-top: 0.5rem"
            ><!-- wp:query-pagination {"paginationArrow":"chevron","showLabel":false,"layout":{"type":"flex","justifyContent":"left"}} -->
            <!-- wp:query-pagination-previous /-->

            <!-- wp:query-pagination-numbers {"midSize":5} /-->

            <!-- wp:query-pagination-next /-->
            <!-- /wp:query-pagination --></div
        >
        <!-- /wp:group --></div
    >
    <!-- /wp:query --></main
>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
