<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"bcgov-body-content","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"2rem","right":"var:preset|spacing|40","left":"1rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull bcgov-body-content"
    style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:2rem;padding-left:1rem">
    <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"2.25rem"},"blockGap":"var:preset|spacing|50"}},"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-bottom:2.25rem">
        <!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"top":"0rem","bottom":"var:preset|spacing|50"}},"border":{"bottom":{"color":"var:preset|color|border-default","width":"1px"}}}} /-->

        <!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->

        <!-- wp:post-terms {"term":"category"} /-->

        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->