{
    "name": "bcgov-theme/<%= slug %>",
    "description": "<%= name %>",
    "type": "wordpress-theme",
    "license": "Apache-2.0",
    "autoload": {
        "psr-4": {
            "Bcgov\\<%= phpNamespace %>\\": "src/",
            "Bcgov\\<%= phpNamespace %>\\Test\\": "tests/"
        }
    },
}
